<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
    Samati Agence
    </a>
  </div>

  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">

        <a [routerLink]="menuItem.path"  class="collapsed" aria-expanded="false" aria-controls="{{menuItem.id}}"
            data-toggle="collapse">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p style="font-weight: bold;">{{menuItem.title}}</p>
        </a>

  </ul>
</div>



