<nz-table #nestedTable [nzData]="clients$ | async" [nzPageSize]="10">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nestedTable.data">
    <tr>
      <td>{{ data.lastName }}</td>
      <td>{{ data.fistName }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data. phone}}</td>
      <td>
        <a (click)="displayAlert()">Approve</a>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>

