<ng-container *ngIf="(clients$ | async) as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    <nz-spin nzTip="Loading...">
    </nz-spin>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.Error">
    <div class="alert alert-danger alert-with-icon">
      <i class="material-icons" data-notify="icon">error_outline</i>
      <button aria-label="Close" class="close" data-dismiss="alert" mat-button type="button"><i class="material-icons">close</i>
      </button>
      <span data-notify="message">
        <b>Error</b>{{result.errorMessage}}</span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <nz-table #nestedTable [nzData]="result.data" [nzPageSize]="10">
      <thead>
      <tr>
        <th></th>
        <th>Nom Complet</th>
        <th>email</th>
        <th>telephone</th>
        <th>status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-template [ngForOf]="nestedTable.data" let-data ngFor>
        <tr>
          <td [(nzExpand)]="data.expand"></td>
          <td>{{ data.firstName }} {{ data.lastName }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data }}</td>
          <td>{{ data.isActive }}</td>
          <td>
            <a>Publish</a>
          </td>
        </tr>
        <tr [nzExpand]="data.expand">
           <div>heloooooooooooooooo</div>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </ng-container>

</ng-container>
